html body form{
    height: 100%;
    width: 100%;
}
body {
    background-color: lightgray;
}
nav {
    height:80%;
    width:20%;
    float:left;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
    max-width:200px;
    background: #555;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    zoom: 1;
    font-size: 12px;
}
nav ul, nav ul li, nav ul ul {
    list-style: none;
    margin:0;
    padding:0;
}
nav ul {
    position:relative;
    z-index:597;
    float:left;
}
nav ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align:middle;
    position:relative;
}
nav ul li.hover, nav ul li:hover{
    position:relative;
    z-index:599;
    cursor:default;
}
nav ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
nav ul ul li{
    float: none;
}
nav ul ul ul {
    top: -2px;
    right: 0;
}
nav ul li:hover > ul{
    visibility: visible;
}
nav ul ul {
    top: 1px;
    left: 99%;
}
nav ul li {
    float: none;
}
nav ul ul {
    margin-top: 1px;
}
nav ul ul li {
    font-weight: normal;
}
nav:before{
    content:'';
    display:block;
}
nav:after{
    content:'';
    display: table;
    clear: both;
}
nav a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration:none;
    text-transform: uppercase;
}
nav > ul {
    width:200px;
}
nav ul ul {
    width: 200px;
}
nav > ul > li > a {
    border-right: 4px solid #1b9bff;
    color: #ffffff;
}
nav > ul > li > a:hover{
    color: #ffffff;
}
nav > ul > li.active a {
    background: #1b9bff;
}
nav > ul > li a:hover, nav > ul > li:hover a {
    background: #1b9bff;
}
nav li {
    position: relative;
}
nav ul li.has-sub > a:after {
    content: '+';
    position: absolute;
    top:50%;
    right:15px;
    margin-top:-6px;
}
nav ul ul li.first {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}
nav ul ul li.last {
    -webkit-border-radius: 0 0 3px 0;
    -moz-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
}
nav ul ul {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
nav ul ul {
    border: 1x solid #0082e7;
}
nav ul ul a{
    font-size: 12px;
    color:#ffffff;
}
nav ul ul a:hover{
    color:#ffffff;
}
nav ul ul li {
    border-bottom: 1px solid #0082e7;
}
nav ul ul li:hover > a{
    background: #4eb1ff;
    color: #ffffff;
}
nav.align-right > ul > li > a {
    border-left: 4px solid #1b9bff;
    border-right:none;
}
nav.align-right {
    float:right;
}
nav.align-right li {
    text-align:right;
}
nav.align-right ul li.has-sub > a:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -6px;
}
nav.align-right ul li.has-sub > a:after {
    content:none;
}
nav.align-right ul ul {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    z-index:598;
    width:100%;
}
nav.align-right ul ul li.first {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}
nav.align-right ul ul li.last {
    -webkit-border-radius: 0 0 0 3px;
    -moz-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}
nav.align-right ul ul {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
#search {
    width:80%;
    float:left;
}

#advertisement{
    text-align:center;
}

header {
    width:100%;
    height:15%;
}
section {
    width:80%;
    height:80%;
    float:left;
}
#userInfo {
    width: 80%;
    height: 15%;
    position:absolute;
    top:0px;
    right:10px;
    text-align:right;
}
#logo {
    height:15%;
    width: 20%;
    position:absolute;
    top:0px;
}

a:link{
    color:black;
    text-decoration:none;
}
a:visited{
    color:black;
    text-decoration:none;
}
a:hover{
    color:red;
}

/*Gridview CSS*/

.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse:collapse;
}
.mGrid td {
    padding: 2px;
    border: solid 1px #c1c1c1;
    color: #717171;
}
.mGrid th {
    padding: 4px 2px;
    color: #fff;
    background: #424242 url(grd_head.png) repeat-x top;
    border-left: solid 1px #525252;
    font-size: .9em;
}
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }
.mGrid .pgr table {margin: 5px 0;}
.mGrid .pgr td {
    border-width: 0;
    padding: 0 6px;
    border-left: solid 1px #666;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
}
.mGrid .pgr a {color: #666; text-decoration: none;}
.mGrid .pgr a:hover {color: #000; text-decoration: none;}

.pGrid { border: solid 1px #FFFFFF; }
    .pGrid td {
        border: solid 1px #FFFFFF;
        margin: 1px 1px 1px 1px;
        padding: 1px 1px 1px 1px;
        background-color: #fff;
        color: #000;
    }
 
.pGridAltItem
{
background-color: white;
}
    body {
      -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
      padding-top:70px;
    }

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(Images/Banner/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(Images/Banner/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }
    #slides {
      display: none
    }

    .container {
      margin: 0 auto;
      height: 300px;
      width: 300px;
    }